## Ignore Visual Studio / Rider related folders
.vs/
.idea/

# Ignore all Debug folders at any directory level
**/Debug/


# Build results
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache
*.ilk
*.log
*.lib
*.ncb
*.sdf
*.ipch
*.db
*.opendb
*.VC.db
*.ipch
*.vsidx

